body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.container-first {
  position: relative;
  background-color: hotpink;
  box-shadow: 0 5px 16px;
  padding: 1rem;
  z-index: 2;
}
.container-second {
  position: relative;
  background-color: cadetblue;
  box-shadow: 0 5px 16px;
  margin-left: 2rem;
  padding: 1rem;
  margin-top: -1rem;
}

.box {
  width: 200px;
  height: 200px;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 8px;
  color: white;
  margin-bottom: -100px;
}

.red-box {
  background-color: red;
  position: relative;
}

.green-box {
  background-color: green;
  margin-left: 3rem;
  position: relative;
}

.blue-box {
  background-color: blue;
  margin-left: 5rem;
  position: relative;
}

.container-second .red-box {
  z-index: 2;
}
