:root {
  --primary-brand-color: #fa6400;
  --secondary-brand-color: #405cf5;
  --rounded-borders: 24px;
  --main-font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
}

.first-container {
  --rounded-borders: 4px;
}

h2 {
  color: var(--secondary-brand-color);
}

a {
  color: var(--primary-brand-color);
  text-decoration: none;
  border: 2px solid var(--primary-brand-color);
  padding: 0.5em 1em;
  font-size: 14px;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  border-radius: var(--rounded-borders);
}

strong {
  color: var(--primary-brand-color);
}

span {
  color: var(--primary-brand-color);
}

code {
  color: var(--secondary-brand-color);
}

button {
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: var(--rounded-borders);
  font-size: 14px;
  font-family: inherit;
  height: 32px;
}

.previous-button {
  background-color: var(--primary-brand-color);
}

.next-button {
  background-color: var(--secondary-brand-color);
}
