p {
  color: red;
  font-size: 32px;
  font-weight: 700;
  text-decoration: underline;
  /* text-decoration: underline wavy; */
  font-family: sans-serif;
}

a {
  /* text-decoration: underline wavy; */
  text-decoration: none;
  font-style: italic;
}
h1 {
  text-align: center;
}
