body{
    margin: 0;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

.parent{
    padding: 10px;
    border: 4px solid indianred;
    /* display: flex; */
    height: 50vh;
    /* justify-content: center; */
    /* justify-content: space-between; */
    justify-content: space-around;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    
    
}

.parent span{
    /* border: 4px solid cadetblue; */
    background-color: cadetblue;
    /* width: 200px; */
    /* height: 300px; */
    /* flex-grow: 1; */
    flex-shrink: 0;
}

.parent p{
    /* border: 4px solid darkkhaki; */
    background-color: darkkhaki;
    /* width: max-content; */
    margin: 0;
    width: 250px;
}

.parent a{
    /* border: 4px solid yellowgreen; */
    background-color: yellowgreen;
    /* width: 400px; */
    flex-shrink: 0;
}